#contact ul {
  padding: 0;
  margin: 0;;
  font-size: 18px;
  list-style-type: none;
}

#contact h5 {
  margin: 1em 0 0.25em 0;
}

@media (max-width: 991px) {
  #contact * {
    text-align: center;
  }

  #contact p,
  #contact ul {
    margin-bottom: 1.5em;
  }
}
