footer {
  background-color: #292929; /* Black */
  padding: 1em 0;
}

footer * {
  color: #ECF0F1; /* White */
}

footer > .container {
  text-align: center;
}

footer ul {
  padding: 0;
  margin: 0
}

footer li {
  display: inline;
}

footer li:before {
  content: '\b7\a0'; /* same as &middot; */
}

footer li:first-of-type:before {
  content: none;
}
