footer {
  background-color: #111;
  padding: 1em 0;
}

footer * {
  color: #D2D2D2;
}

footer > .container {
  text-align: center;
}

footer ul {
  padding: 0;
  margin: 0
}

footer li {
  display: inline;
}

footer li:before {
  content: '\b7\a0';
}

footer li:first-of-type:before {
  content: none;
}
