/*
  Colours:

  Blue:       #2980B9;
  Dark blue:  #29719F;
  Light blue: #3498DB;

  Red:        #E74C3C;
  Dark red:   #9A2519;
  Light red:  #FF6B5C;

  White:      #ECF0F1;
  Black:      #292929;
*/

/*::selection {
  background: #3498DB; /* Light blue *
}*/

body, html {
  font-family: 'San Francisco Text', sans-serif;
  color: #292929; /* Black */
  background-color: #ECF0F1; /* White */
}

/* Remove Bootstrap's glow on inputs */
input:focus,
textarea:focus,
select:focus {
  box-shadow: none !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'San Francisco Display', sans-serif;
  margin: 1em;
  text-transform: uppercase;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 18px;
}

p.small,
p > small {
  font-size: 14px;
}

p.lead {
  font-size: 24px;
}

a {
  color: #E74C3C;
}

a:hover {
  color: #2980B9;
}

section {
  padding: 4em;
}

/* Every other section */
section:nth-of-type(2n+1) {
  background-color: #3498DB; /* Light blue */
  color: #ECF0F1; /* White */
}

/* All section's first headers */
section h1:first-of-type {
  text-align: center;
}

.btn-red {
  background-color: #E74C3C; /* Red */
  color: #ECF0F1; /* White */
}

.btn-red:hover {
  background-color: #FF6B5C; /* Red */
  color: #ECF0F1; /* White */
}


@media (max-width: 767px) {
  section {
    padding-left: 1em;
    padding-right: 1em;
  }

  section p {
    text-align: justify;
  }
}
