.nav-wrapper {
  min-height: 80px;
}

#nav.affix {
  position: fixed;
  top: 0;
  width: 100%
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-nav > li > a {
  background: none;
  color: #ECF0F1 !important; /* White */
  margin: 10px;
  text-transform: uppercase;
}

.navbar-nav > li > a:hover {
  text-decoration: underline;
}

.navbar-nav > .active > a {
  background: none !important;
  color: #2980B9 !important; /* Blue */
}

.navbar-nav > .active > a:hover {
  color: #3498DB !important; /* Light blue */
}

.navbar-default {
  background: #292929; /* Black */
  z-index: 999;
  border: none;
  border-radius: 0;
}
